* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

header{
    height: 40px;
    background-color: #52a555;
}

/*    ......navbar........   */

.Items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 13px 0px;
}

li {
    padding: 10px 18px;
}

.Items a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

.navbar {
    display: flex;
    width: 100vw;
    background-color: #52a555;
    position: fixed;
    color: white;
    top: 0px;
    justify-content: center;
    font-weight: bold;
}

#sh {
    width: 145px;
    height: 25px;
    margin: 18px 10px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    transition: all 0.2s linear;
}

#search:hover {
    cursor: pointer;
}

/* Research and Publications */

.research{
    margin: 40px 40px;
}

body{
    background-color: #f2ffef;
}

table {
    border: 3px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: 'Zen Antique', serif;
}

td,th {
    border: 3px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: white;
}

li {
    text-align: left;
}

th:hover {
    cursor: pointer;
    background-color: #52a555;
}

table a{
    color: black;
    text-decoration: none;
}



/*         ........Footer..........           */

footer {
    color: white;
    background-color: black;
}

#sm {
    display: flex;
    justify-content: center;
}

#sm li {
    list-style: none;
    padding-left: 20px;
}

a[target="_email"] {
    color: white;
}
a[target="_twitter"] {
    color: #1DA1F2;
}
a[target="_facebook"] {
    color: #4267B2;
}
a[target="_linkedin"] {
    color:  #0077b5 ;
}
a[target="_instagram"] {
    color: #8a3ab9;
}

#close{
    display: none;
}

#menu{
    color: white;
    margin: 10px;
}

/* Media queries for making website responsive */

@media all and (max-width :800px){

    #profile_pic{
        flex-direction: column;
        /* width: 700px; */
    }

    #pp{
        width: auto;
    }

    header{
        width: 780px
        /* width: 600px */
    }

    .navbar{
        display: block;
        position: absolute;
        left: -300px;
        width: 200px;
        flex-direction: column;  
        text-align: center;
        transition: 1s;
        height: 85vh;
    }
    
    #close{
        display: block;
        text-align: left;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .searchbtn{
        margin-top: -30px;
    }
    
    .Items{
        flex-direction: column;
        margin-top: -35px;
        padding-bottom: 25px;
    }
    
    .Items li{
        padding-bottom: 22px;
        font-size: 18px;

    }

    .research{
        width: 700px;
    }
    


  
        footer{
            width: 780px;
        }

    
        
}